# Ignore virtual environments
venv/

# Ignore output files
outputs/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter notebooks' checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db
